header {
    z-index: 500;
    left: 0;
    right: 0;
    top: 35px;

    & img {
        height: 60px;
    }
}

@media (min-width:768px) {
    header ul {
        flex-basis: 100%;
        justify-content: right;

        & li:not(:last-of-type) {
            & .button {
                background-color: revert;

                &:hover {
                    background-color: #1B7FFA;
                }
            }
        }
    }
}

@media(max-width:767px) {
    header {
        & ul {
            position: absolute;
            background-color: #fff;
            flex-direction: column;
            top: 80%;
            width: calc(100% - (34px + 32px + 159px));
            left: 167px;
            gap: 0 !important;
            border-radius: 0 0 30px 30px;
            opacity: 0;
            transition: var(--main-transition, 0.5s);
            z-index: 999;

            & li {
                padding-top: 15px;
                display: none;

                & a {
                    transition: var(--main-transition, 0.5s);
                    color: black !important;
                    font-weight: 500 !important;

                    &:hover {
                        color: var(--red-color, red) !important;
                    }
                }
            }

            & li:not(:last-of-type) a {
                border-bottom: 1px solid #DDD;
            }

            & .button,
            & .active {
                background-color: revert !important;
            }

            & .active {
                color: var(--red-color, red) !important;
            }
        }

        & input:checked+ul {
            top: 110%;
            opacity: 1;
            width: calc(100% - 34px);
            left: 17px;

            & li {
                display: block;
            }
        }
    }
}

.landing {
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    min-height: 100vh;
    border-radius: 0 0 var(--landing-raduis, 153px) var(--landing-raduis, 153px);
}

.landing .welcome-page {
    align-self: center;
    padding-top: 200px;
    padding-bottom: 200px;

    & .address {
        align-self: center;

        & .tittle {
            & h2 {
                font-size: 44px;

                & span::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background-image: url(../images/caption-dec.png);
                    bottom: -10px;
                    margin-bottom: 10px;
                }
            }
        }

        & p:first-of-type {
            max-width: 90%;
        }

        & .search {
            height: 60px;

            & a {
                height: 100%;
            }
        }
    }

    & .image {
        width: 80%;
        margin-left: 100px;

        & img {
            width: 110%;
        }



        & .rad-icon {
            left: calc(-45px + 30px);
            bottom: calc(-45px + 30px);
        }
    }
}

@media (max-width:767px) {
    .landing .welcome-page .search {
        height: 35px !important;

        & input {
            max-width: 67%;
            padding: 0 0 0 6px;

            &::placeholder {
                font-size: 15px;

            }
        }

        & .button {
            height: 100%;
            padding: 0 4px;
            font-size: 10px;
        }
    }
}

@media(max-width:990px) {
    .landing .welcome-page {
        flex-wrap: wrap;

        & .address .tittle {
            text-align: center;
            align-items: center;
        }

        & .image {
            margin: 100px 0 0;
        }
    }
}

.services {
    margin-top: calc(-170px / 2);

    & .box {
        height: 170px;

        & .contain {
            .rad-icon {
                background-color: var(--blue-color, blue);
                transition: var(--main-transition, 0.5s);
                cursor: pointer;

                &:hover {
                    background-color: var(--red-color, red);
                }
            }
        }
    }
}

/* Start Edit Trending */
.trending-box {
    & .boxs {
        & .box {
            & .image>span {
                padding: 10px 12px;
                display: table;
                right: 5px;
                top: 10px;

                & span:first-of-type {
                    color: rgb(255 255 255 / 50%);
                    font-size: 13px;
                }

            }

            & .info {
                & span:last-of-type {
                    transition: var(--main-transition, 0.5s);
                }

                & .icon {
                    & .trending-icon {
                        width: 40px;
                        font-size: 17px;
                        transition: var(--main-transition, 0.5s);
                    }
                }
            }

            &:hover {
                & .info {
                    & span:last-of-type {
                        color: var(--blue-color, blue);
                    }

                    & .trending-icon {
                        background-color: var(--blue-color, blue);
                    }
                }
            }
        }
    }
}

/* End Edit Trending */

/* Start Shop */
.shop {
    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/cta-bg.jpg);
        background-size: cover;
        width: 581px;
        aspect-ratio: 1/1;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        background-repeat: no-repeat;
        border-radius: 30px;
        overflow: hidden;
        display: none;
        top: 50%;
    }

    &>div {
        min-width: 171px;
        max-width: 406px;
    }

    /* start Ourshop */
    & .ourshop,
    & .newsletter {
        padding: 50px;

        & h3 {
            font-size: 34px;
            max-width: 96%;
            line-height: 1.6;
        }

        & p {
            font-size: 18px;
            margin: 27px 0;
            max-width: 90%;
        }
    }

    /* End Ourshop */

    /* Start newslettersletter */
    & .newsletter {
        & .supscripe {
            & input {
                padding: 10px;
                border-radius: 20px;
            }

            & .button {
                text-wrap: nowrap;
                margin-left: -25px;
            }
        }
    }

    @media (max-width:767px) {
        .newsletter {
            & .supscripe {
                & input {
                    margin-bottom: 10px;
                    border-radius: 0;
                }

                & .button {
                    border-radius: 0;
                    margin-left: 0;
                }
            }
        }
    }

    /* End newslettersletter */

}

@media (min-width:1100px) {
    .shop {
        &::before {
            display: block;
        }

        & .ourshop {
            transform: translate(33px, 311px);
        }

        & .newsletter {
            transform: translate(628px, -87px);
        }
    }
}

@media (max-width:1099px) {
    .shop {
        & .ourshop {
            margin-bottom: 20px;
        }

        & .ourshop,
        & .newsletter {
            max-width: 100% !important;
            background-color: #ffeace;

            & .button {
                width: 100% !important;
            }
        }

    }
}

/* End Shop */

/* start footer */
footer {
    min-height: 150px;
    background-color: var(--blue-color);

    & .main-layer,
    & .layer-one,
    & .layer-two,
    & .layer-three {
        background-image: url(../images/wave.png);
        background-size: 1500px 100px;
        width: 100%;
        height: 100px;
        top: -60px;
    }

    & .main-layer {
        animation: wave-one 3s linear infinite;
        z-index: 10000;
        opacity: 1;
    }

    & .layer-one {
        opacity: 0.5;
        top: -70px;
        z-index: 9999;
        animation: wave-two 3s linear infinite;
    }

    & .layer-two {
        opacity: 0.4;
        top: -80px;
        z-index: 9989;
        animation: wave-one 3s linear infinite;
    }

    & .layer-three {
        opacity: 0.3;
        top: -90px;
        z-index: 9979;
        animation: wave-two 3s linear infinite;
    }

    @media(max-width:767px) {

        & .main-layer,
        & .layer-one,
        & .layer-two,
        & .layer-three {
            display: none;
        }
    }
}

/* End footer */

@keyframes wave-one {

    0% {
        background-position-x: 1500px;
    }

    100% {
        background-position-x: 0;
    }
}

@keyframes wave-two {

    0% {
        background-position-x: -1500px;
    }

    100% {
        background-position-x: 0;
    }
}